

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@font-face
{
    font-family: registersans;
    src: url('../fonts/register-sans-btn-lt.ttf');
} 

@font-face
{
    font-family: brixslab-regular ;
    src: url('../fonts/brixslab-regular.ttf');
}











@media (max-width:  1600px){
    
    
    /* Section hides */
    #nav_mobile
	{
        display: none;
    }

    #bioexcerpt_480
    {
        display: none;
    }

    #quotewidget_480
    {
        display: none;
    }

    #about_480
    {
        display: none;
    }

    #feature_480
    {
        display: none;
    }

    /* End Section Hides */


    body
    {
        background-color: #c0c0c0;
        background-image:url('../img/background.png'); 
        background-repeat:repeat;
    }

    #header
    {
    	background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        color: #FFFFFF;
        cursor: default;
        padding: 2.5em 0 2em;
        width: 100%;   
        text-align: center;
        background-color:#f0f0f0;
        height: 273px;

    }

   



    
        .header_shadow
        {
            height: 31px;
            width: 100%;
        }

   
        .header_shadow
        {
            height: 31px;
            width: 100%;
            background-image: url('../img/shadow_center.png');
            
            background-repeat: repeat-x;
            
        }


        .header_shadow_left
        {
            background-image: url('../img/shadow_left.png');
            background-origin:content-box;
            background-size:100% 100%;   
            float: left; 
            height: 31px;
            width: 512px;
        }


        .header_shadow_right
        {
            background-image: url('../img/shadow_right.png');
            background-origin:content-box;
            background-size:100% 100%;   
            float: right; 
            height: 31px;
            width: 512px;
        }
        
    
   



    #title
    {	
    	color: #660066;
    	text-align: center;
    	font-size: 47pt;
        font-family: registersans;
        text-transform: uppercase;  
    
    }

    #nav{
    	
        font-size: 15pt;
        display: block;
    }
   

    #nav ul
    {

    }

    #nav ul li a
    {   
        color: #666666;
        font-family: registersans;
        font-size: 15pt;
    }

    #nav ul li:hover
    {   
       text-align: center;
    }

    #nav a
    {
        text-decoration: none;   
    }

    #nav a:hover
    {
        color: #666666;
    }

    #nav li 
    {
        display: inline;
        list-style: none;
        padding-left: 45px;
    }

    #nav li ul 
    {
        display: none; 
        background: url('../img/sub_menu.png');
        background-repeat: no-repeat;
        padding-top: 10px;
        width: 856px;
        height: 50px;

    }

    #nav li:hover ul
    {
        display: block;
        position: absolute; 
    }

    #nav li ul li
    {
        padding-left: 0;
        padding-right: 20px;
        font-size: 10pt;
        float: none;
        list-style: none; 
        width: auto; 
        text-transform: uppercase;

    }

    #nav li ul li a
    {
        font-size: 12pt;
    }


    .logos 
    {
        width: 300px;
    }

    .logo_row
    {
        margin-top: 20px;
        width: 100%;
        height: 46px;
    }

    .logo_left
    {
        float: left;
        width: 50%;
    }

    .logo_right
    {
        float: left;
        width: 50%;
    }

    /* Content */

    #content
    {
        background-image: url('../img/bioback.png');
        background-repeat: repeat-x;
        background-position: center;
        background-origin:content-box;
        background-size:100% 100%;
        width: 913px;
        height: 800px;
        background-color: #999999;
        margin: 0 auto;
        margin-top: 30px;
    }


    #slideshow
    {
        width: 913px;
        height: 327px;
        background-color:#202020;
        margin: 0 auto;
        margin-top: 26px;
    }

    #slideshow_left
    {
        float: left;
        margin-top: 140px;

    }

    #slideimage 
    {
        margin: 0 auto;
        width: 826px;
        float: left;
        margin-top: 12px;

    }

    #slideimage img
    {
        height: 300px;
        
    }


    #slideshow_right
    {
        float: right;
        margin-top: 140px;

    }


    #slideshow li
    {
        display: inline;
        list-style: none;
        margin-left: 30px;
    }

    #slideshow_left>img{
        width: 40px;
        height: 40px;
    }

    #slideshow_right>img{
        width: 40px;
        height: 40px;
    }



    /* Bioexcerpt */
    #bioexcerpt
    {
        width: 913px;
        height: 269px;
        background-color: #919191;
        margin: 0 auto;
        margin-top: 26px;
        font-family: brixslab-regular;

        background-image: url('../img/bioexcerpt.png');
        background-repeat: repeat-x;
        background-position: center;
        background-origin:content-box;
        background-size:100% 100%;

    }




    #bioexcerpt_img 
    {
        float: left;
    }

    #bioexcerpt_img > img
    {
        height:164px;
        width:122px; 
        margin-left: 49px; margin-top: 49px;   
    }

    #biotextauthor
    {
        margin-top: 33px; margin-left: 36px;
        float: left;
        width: 290px;
    }

    .biotextauthor_title
    {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        color: white;
        font-size: 18pt;
    }

    .biotextauthor_info
    {
        color: black;
        font-size: 11pt;
        width: 381px;
    }

    .biotextauthor_readmore
    {
        color: #660066; 
    }



    #biopost
    {
        margin-right: 20px; 
        height: 181px; 
        width: 261px; 
        margin-top: 41px; 
        margin-left: 14px;
        float: right;
    }

    .biopost_title 
    {
        color : #520152;
        font-size: 18pt;
    }

    .biopost_text 
    {
        color : #520152;
        font-size: 11pt;
        line-height: 16pt;

    }


    #trade 
    {
        float: left;
    }

    #quote
    {

        float: left;
    }


    

    #biotext
    {
        width: 600px;
        float: left;
        clear: left;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        font-family: brixslab-regular;
        padding-left: 52px;
        text-align: justify;
    }

    #biotext > span 
    {
        color: white;
        font-weight: bold;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        font-size: 14pt;

    }

    #photo img
    {
        
        margin-top: 48px;
        width: 234px;


    }


    #awards 
    {
        margin-top: 46px;
        padding-left: 632px; 
        padding-right: 30px;
        


        
    }

    #awards > span
    {
        color: white;
        font-weight: bold;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        font-size: 14pt;

    }




    #quotewidget
    {

        background-image: url('../img/awards.png');
        background-repeat: repeat-x;
        background-position: center;
        background-origin: content-box;
        background-size:100% 100%;
        font-family:  brixslab-regular;
        width: 913px;
        height: 147px;
        background-color:#202020;
        margin: 0 auto;
        margin-top: 26px;
    }

    #author_quote
    {

        float: left;
        width: 170px;
        margin-left: 100px; margin-top: 56px;
    }

    #quote
    {
         margin-top: 43px; 
         margin-left: 35px;
         font-size: 15pt;
    }

    /* Documentary */

    #documentary
    {
        width: 913px;
        height: 478px;
        background: #979797;        
        margin: 26px auto 0 auto;

        background-image: url('../img/documentaryfeatures.png');
        background-repeat: repeat-x;
        background-position: center;
        background-origin: content-box;
        background-size:100% 100%;

    }

    #documentary_container
    {
        width: 100%;
        height: 100%;
        padding-left: 135px; 
        padding-right: 135px;
        padding-top: 24px;
        font-family: brixslab-regular;
    }

    #documentary_container hr
    {
       margin-left: -70px;
       width:120%;
       border: 0.5px solid rgba(0,0,0,0.25);
       
    }

    .documentary_title
    {
        font-size: 16pt;
        font-weight: bold;
        color: white;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
        text-align: center;
        word-spacing: .2em;

    }

    .documentary_quote
    {
        font-size: 13pt;
        color: white;
        font-weight: lighter;
    }

    .documentary_text
    {
        font-size: 10pt;
        text-align: justify;
        color: black;

    }


    #documentary_paginator > ul
    {   
        
        text-align: center;
    }   

    #documentary_paginator > ul > li
    {

        display: inline-block;
        list-style-type:none;

    }




    .paginator
    {
        font-family: registersans;
        font-size: 8pt;
        font-weight: bold;
        display: block;
        color: black;

    }


    .paginator:hover
    {
        font-family: registersans;
        font-weight: bold;
        display: block;
        width: 15px;
        height: 14px;
        background: #3e3e3e;
        font-family: registersans;
        font-size: 8pt;
        color: white;
        text-align: center;

    }
    
    #documentary_paginator > div:hover
    {
        display: inline;
        list-style: none;
        width: 15px;
        height: 14px;
        background: black;
        color: white;
    }

    

    /*End Documentary */


    /* Books */

    #books
    {
        width: 980px;
        height: auto;
        background: #979797;        
        margin: 26px auto 29px auto;
        padding-bottom: 29px;
        padding-top: 29px;
    }

    #books_title > span

    {
        font-family: registersans;
        font-size: 15pt;
        background: url('../img/books.png');
        background-repeat: no-repeat;
        background-position: center;
        padding-top:7px;
        padding-bottom: 10px;
        width: 143;
        height: 45;
        color: white;
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }

    



    #books_container
    {
        text-align: center;   
    }

    #books_container  li 
    {
        display: inline-block;

    }

    #books_container  ul
    {
        margin-bottom: 30px;
        padding-left: 0px;
    }


    .movie {
        position: relative;
        display: inline-block;
    }

    .span_hover {
        color: white;
        bottom: 7px;
        display: none;
        height: 97%;
        left: 5px;
        position: absolute;
        font-family: brixslab-regular;
        font-size: 12pt;
        padding-top: 70px;
        right: -9px;
        width: 97%;
        background-color: rgba(0,0,0,0.6);
        
    }

    .movie:hover img {
        opacity:0.8;
        
    }

    .movie:hover .span_hover {
        display: block;
    }

    /* ENd Books */

    

    /* Misc */

    #misc
    {
        background: url('../img/misc/background.png');

        background-repeat: no-repeat;
        width: 915px;
        height: 612px;
        margin: 0 auto;
    }

    .misc_documentaries
    {
        font-family: brixslab-regular;
        float: left;
        width: 65%;
        padding-left: 37px;
        padding-top: 40px;
    }

    .misc_documentaries > span
    {
        color: white;
        font-size: 18pt;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);

    }

    .misc_documentaries p
    {
        text-align: justify;
        font-weight: bold;
    }


    .misc_documentaries_right_top
    {
        font-family: brixslab-regular;
        float: right;
        width: 35%;
        padding-top: 45px;
        padding-left: 25px;
        padding-right: 30px;
    }

    .misc_documentaries_right_top > span
    {
        color: white;
        font-size: 14pt;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
    }

    .misc_documentaries_right_top p
    {
        font-weight: bold;
        font-size: 9pt;
    }


    .misc_documentaries_right_bottom
    {
        font-family: brixslab-regular;
        float: right;
        width: 35%;
        padding-top: 45px;
        padding-left: 25px;
        padding-right: 30px;
    }

    .misc_documentaries_right_bottom > span
    {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        color: white;
        font-size: 14pt;
    }

    .misc_documentaries_right_bottom p
    {
        font-weight: bold;
        font-size: 9pt;
    }



    /* End Misc */


    /* Behind */

    #behind 
    {
        background: url('../img/behind/background.png');
        background-repeat: no-repeat;
        width: 915px;
        height: 541px; 
        margin: 0 auto;
        margin-top: 30px;
    }

    #behind hr
    {
        border-top: 1px solid #3e3e3e;
        width: 80%;
        padding-left: 30px;
        padding-right: 40px;

    }


    .behindthescenes 
    {
         font-family: brixslab-regular;
         padding-top: 30px;
    }


    .behindthescenes_title 
    {
        font-size: 16pt;
        color: white;
        text-align: center;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);

    }

    .behindthescenes_text
    {
        text-align: justify;
        font-weight: bold;
        font-size: 10pt;
        padding-left: 150px;
        padding-right: 150px;



    }

    .behind_text
    {
        width: 100%;
        text-align: left;
        font-weight: bold;
        font-family: brixslab-regular;
    }

    .behind_text_left
    {
        float: left;
        width: 50%;
        padding-left: 200px;
        
    }


    .behind_text_right
    {
        width: 50;
        padding-left: 100px;
        float: left;

    }

    .behind_year
    {
        text-align: center; 
        color:white;
        font-family: brixslab-regular;
        font-size: 16pt;

    }

    /* End Behind */



    /* Contact */
    #contact
    {
        width: 915px;
        height: 165px;
        margin: 0 auto;
        background: url('../img/contact/contact.png') #f0f0f0 ;
    }

    #contact ul
    {
        padding-top: 43px;
        padding-left: 170px;
    }
    
    #contact ul li
    {
        display: inline-block;
    }

    .contact_title 
    {

        
        font-family: registersans;
        font-size: 15pt;
        font-weight: bold;
        color: #736967;

    }

    .contact_name
    {

        font-family: brixslab-regular;
        font-size: 11pt;
        color: #660066;
    }

    .contact_resolution
    {
        font-family: brixslab-regular;
        font-size: 10pt;
        font-weight: bold;
        color: #010101;
    }

    /* End Contact */

    

    /* Feature */
    #feature
    {
        width: 913px;
        height: 635px;
        
        margin: 0 auto;
        margin-bottom: 39px;
    }

    .feature_images
    {
        float: left;

    }

    .featured_list
    {
        float: left;
    }

    .featured_list > ul
     {
        padding-left: 0px;
     }

    .featured_list>ul> li
    {
        display: inline-block;
    }

    .feature_images_title
    {

        background: url('../img/featured/featured.png') ;  
        background-repeat: no-repeat;
        text-align: center;
        font-family: registersans;
        font-weight: bold;
        font-size: 14pt;
        text-transform: uppercase;
        width: 329px;
        height: 36px;
        padding-top: 4px;
        color: white; 
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .featured_press
    {
        background: url('../img/featured/featured_background.png') #f0f0f0 ;
        background-repeat: no-repeat;
        float: right;
        width: 335px;
        height: 615px;
        font-family: brixslab-regular;
        color: #f0f0f0;
        padding-top: 39px; 
        padding-left: 39px; 
        padding-right: 23px;
    }

    .featured_press_title
    {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        font-size: 22pt;

    }

    .featured_press_highlight
    {
        color: #520152;
        font-size: 12pt;
        font-weight: bold;
    }


    /*End Feature */


    /* Footer */

    #footer
    {
       position: relative; 
       margin-top: 100px; 
       clear: both;
       background: #F0F0F0;
       height: 37px;
       width: 100%;
       font-family: registersans;
        
    }

    #trade
    {
        text-align: left;
        color: #7a716f;
        padding-top: 10px; 
        padding-left: 21px;
    }

    #footermessage
    {
        float: right;
        padding-top: 10px; 
        text-align: right;
        margin-right: 10px;
        color: #7a716f;
    }

}
/* end 1024 */

@media (max-width: 480px){
    
    #content
    {
        display: none;
    }

    body
    {
        background: url('../img/480/background.png');
    }



    #header
    {
        background: #dedef8;   
        height: 97px;
        width: 100%;
    }

    #nav > ul{
        display: none;
    }

    .header_shadow
    {
        display: none;
    }
    #title
    {
        font-size: 2em;
        color: #660066;
        width: 100%;
        position: relative;
        top: -29px;

    }

    #nav_mobile
    {
        font-size: 12pt;
        float: right;
        display: block;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    #slideshow_left
    {
        margin-top: 65px;
        
    }

    #slideshow_right
    {
        margin-top: 65px;
        
    }

    #slideshow_left > img 
    {
        height: 20px;
        width: 20px;
        vertical-align: middle;
    }

    #slideshow_right > img 
    {
        height: 20px;
        width: 20px;
        vertical-align: middle;
    }

    #slideshow
    {
        width: 100%;
        height: 142px;
    }

    #slideimage
    {
        width: 85%;
    }

    #slideimage ul
    {
        padding-left: 10px;
    }

    #slideshow li
    {
        margin-left: 0px;
    }
    

    #slideimage li>img
    {
        height: 100px;
    }


    /* Hidden */
    #bioexcerpt
    {
        display: none;
    }
    

    #bioexcerpt_480
    {
        display: block;
        width: 480px;
        height: 373px;
        margin-top: 30px;
        background: url('../img/480/home/background.png');
        background-repeat: no-repeat;
        background-origin: center;
     
    }

    .bioexcerpt_img
    {
        float: left;
        width: 20%;
    }

    .bioexcerpt_img img
    {
        width: 73px;
        margin-left: 30px;
        margin-top: 20px;
    }


    .biotextauthor
    {
        margin-top: 0px;
        float: right;
        width: 80%;
    }

    .biotextauthor_title
    
    {
        text-align: left;
        margin-left: 20px;
        font-family: brixslab-regular ;
        font-size: 1.3em;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
    }

    .biotextauthor_info
    {
        font-family: brixslab-regular ;
        font-size: 0.9em;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);   
        padding-right: 60px;
        text-align: justify;
        margin-left: 20px;
    }

    .color_purple
    {
        color: #520152; 
    }

    .hr_separator
    {
        background: white;
        border: 0.5px solid;
        width: 80%;
        text-align: center;
        float: none;

    }

    .biopost
    {
        font-family: brixslab-regular ;
        font-size: 1.1em;
        float: left;
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
        padding-right: 62px;
        margin-left: 30px;

    }

    .biopost_title
    {
        font-size: 1.3em;
        color: white;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);   

    }

    .biopost_text
    {
        font-size: 0.8em;
        font-weight: bold;
        line-height: 17pt;
        letter-spacing:1px;

    }

    #quotewidget
    {
        display: none;
    }

    #quotewidget_480
    {
        display: block;
        font-family: brixslab-regular ;
        background: url('../img/480/home/background2.png');
        background-repeat: no-repeat;
        width: 480;
        height: 147px;
    }


    .author_quote
    {
        width: 100%;
        margin-top: 30px;

    }

    .author_quote
    {
        text-align: left;
        padding-left: 80px;
        padding-top: 12px;
    }

    .quote_text
    {
        color: #fff;
        font-size: 1.2em;
        text-align: left;
        padding-top: 20px;
        padding-left: 60px;
        padding-right: 60px;
        font-style: italic;
    }

    /* About */

    #about_480
    {
        display: block;
        background: url('../img/480/about/background.png');
        width: 480px;
        height: 783px;
        margin: 0 auto;
        padding: 30px;
        margin-top: 30px;
        margin-bottom: 30px;

    }
    .content_480_bio_image
    {
        position: relative;
        float: left;
        margin-right: 20px;
    }

    .content_480_bio
    {
        font-family: brixslab-regular ;

    }

    .content_480_bio_title
    {
        color : white;
        font-weight: bold;
        font-size: 1.2em;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);

    }


    .content_480_bio_text p
    {
        font-size: 1em;
        text-align: justify;
    }


    .awards_480_about
    {
        font-family: brixslab-regular;
    }

    .awards_480_title
    {
        color: white;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        font-weight: bold;
        font-size: 1.2em;
    }

    .awards_480_text
    {
        font-size: 1em;

    }

    /* End About */

    /* Feature documentaries */

    #feature
    {
        display: none;
    }
    
    #feature_480
    {
        display: block;
    }

    #feature_480_images 
    {
        margin-top: 30px;
        width: 480px;
        height: 310px;
    }

    #feature_480_images p 
    {
        
    }


    #feature_480_images ul li 
    {
        display: inline-block;
        list-style: none;
    }

    .feature_480_images_title
    {
        background: url('../img/480/feature/title.png');
        background-repeat: no-repeat;
        width: 291px;
        height: 31px;
        text-align: center;
        color: white;
        margin: 0 auto;
        vertical-align: middle;
        font-size: 1.2em;
        font-family: registersans;
    }

    #feature_press_480
    {
        width: 100%;
        height:  444px;
        background: url('../img/480/feature/background.png');
        background-repeat: no-repeat;
        font-family: brixslab-regular;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
    }

    .featured_press_title_480
    {
        color: white;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        font-weight: bold;
        font-size: 1.8em;    
    }

    #feature_press_480 p
    {
        color: white;
        font-size: 1.2em;
    }

    .featured_press_highlight_480
    {
        color : #520152
    }


    /* Full Post */
    #documentary
    {
        display: none;
    }

    #documentary_480
    {
        display: block;
    }



    #documentary_container
    {
        background: url('../img/480/post/background.png');
        background-repeat: no-repeat;
        margin: 0;
        padding: 10px 20px 10px 20px;
        margin-bottom: -100px;
    }

    .documentary_title
    {
        color: white;
        font-size: 1.2em;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        text-align: center;
        width: 90%;

    }





















    

    
}











